# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# System Files
.DS_Store
Thumbs.db

# Folders
build/
.venv/
__pycache__/
.pylint.d/

# Ignore file types
*.spec
*.png
*.txt
*.docx